{block content}
	<div n:if="$_SESSION['logged']">
		Uživatel: {$presenter->connection->query("SELECT * FROM users WHERE id='".$user->id."'")->fetch()->username}
	</div>

<ul>
	<li n:if="!$_SESSION['logged']"><a href="{plink login}">Login</a></li>
	<li n:if="$_SESSION['logged']"><a href="{plink logout!}">Log out</a></li>
</ul>.gitignore